@charset "UTF-8";
*{
	color: white;
}

body{
	background-color: #3b3b3b;
	width: 90%;
	text-align: center;
}

.h3{
	position: absolute;
	color: white;
	left: 50px ;
	top : 50px;
}

form {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 225px;
}

.ligneFormulaire{
	display: flex;
	justify-content: space-between;
}

.groupeFormulaire{
	width: 40%;
	display: flex;
	justify-content: space-between;
}

input{
	color: black;
}

.btn{
	width: 40%;
	height: 100px;
	margin-top: 50px; 
}

.badInput{
	color:red;
}